<div class="banner" style="background-image: url('https://cdn.dribbble.com/users/988145/screenshots/3933829/comedians-in-cars.gif');">
  <div class="banner-content">

<div class = "flex"><%= link_to "VENDRE MA VOITURE", new_driver_path, class: "bttn"  %></div>
<div class = "flex"><%= link_to "ACHETER UNE VOITURE", cars_path, class: "bttn" %></div>
  </div>

</div>

