<div class="container">
  <div class = "note-container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class= "text-center">Merci <i class="fas fa-check"></i></h1>

   <h2 class= "text-center">Notre équipe vous contactera dès que possible !</h2>
    </div>
    </div>
  </div>
</div>
